:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
  }
  .card-deck {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    text-decoration:none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: #fff;
    text-align:left;
    padding-left:20px;
    transform: rotate(-30deg) skewX(25deg) translate(0,0);
    transition:0.5s;
    box-shadow:-20px 20px 10px rgba(0,0,0,0.5);
    /* box-shadow: 10px 10px 5px #FFF;
    border-radius: .25rem;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    color: white;
    height: 300px;
    width: 200px;
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0)); */
  }
  .card-deck:hover {
    /* --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5); */
    transform:rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
  }
  .card-deck:before {
    content:'';
    position:absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background:#b1b1b1;
    transform:0.5s;
    transform:rotate(0deg) skewY(-45deg);
  }
  .card-deck:after {
    content:'';
    position:absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background:#b1b1b1;
    transform:0.5s;
    transform:rotate(0deg) skewX(-45deg);
  }
  .card-deck.flip {
    --rotate-y: 180deg;
  }
  
  .card-deck .front {
    /* left: 0; */
  }
  
  .card-deck .front,
  .card-deck .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card-deck .back {
    transform: rotateY(180deg);
  }

  .flashcard-options {
    margin-top: .5rem;
  }
  
  .flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
  }
  
  .flashcard-option:first-child {
    margin-top: 0;
  }
.word
{
	padding:0;
	margin:0;
	top:30px;
	color:#333;
	letter-spacing:4px;
	transition:0.5s
}